Repository BitSwap-BiFi/Bitswap-demo, pull requests merged in 2023-12, with the labels that each got.

#92 Delete package-lock.json
  package-lock.json
Labels: documentation, c-priority, rgb, bitcoin, dex, bifrost, cli, DLC

#97 Add DLC Off-chain for Lightning swaps
  src/lightning/swap.rs
Labels: documentation, Epic, lightning network, rgb, dex, bifrost, rgb-lightning, DLC

#110 Add RGB PSBT for Layer one
  Cargo.toml
  src/dex/swap.rs
Labels: enhancement, Epic, c-priority, rgb, bitcoin, dex, PSBT, Layer 1

#111 feat: add codespell lint job into workflows & fix typos
  .github/workflows/lint.yml
  CHANGELOG.md
  Cargo.toml
  doc/architecture.md
  server/amm/Cargo.toml
  src/cli/core.rs
  src/contract/dlc.rs
  src/dex/functions/main/lib.rs
  src/dex/lp.rs
  src/dex/swap.rs
  src/lightning/node_initial.rs
  src/wallet/payjoin/receiver.rs
  src/wallet/payjoin/sender.rs
  src/web/command.sh
Labels: documentation, enhancement, good first issue, help wanted, lightning network, rgb, dex, rgb-lightning, Layer 1, Layer 2, compatibility, medium priority

#93 Add OP_RETURN functions from RGB Core
  src/op/op.rs
Labels: enhancement, Epic, c-priority, rgb, bitcoin, rgb-lightning
